.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 30px 0;
    width: 100%;
    >:first-child {
        display: flex;
        justify-content: flex-start;
    }
    >:last-child {
        display: flex;
        justify-content: flex-end;
    }
}