.questionLists {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.questionListsHeader {
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin: 50px;
    h3 {
        margin: 0 auto 0 0;
        vertical-align: middle;
    }
}
  
.questionListsData {
    display: flex;
    justify-content: center;
}

.black {
    color: black;
}

.filter {
    margin-bottom: 8px;
    display: block;
}

.width90 {
    width: 90;
}