.averageDifficultyCircle {
    display: flex;
    flex-direction: column;
    text-align: center;
    >h4 {
        margin-bottom: 4px;
    }
    >span {
        font-size: 8px;
    }
}

.questionSetView {
    display: flex;
    flex-direction: row;
    >:first-child {
        margin: 0 0 14px;
    }
    >:nth-child(2) {
        text-align: center;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}
