.header {
  display: flex;
  align-items: center;
  padding: 0;
  p {
    color: white;
    margin: 0;
  }
}

.logo {
  background-color: #fff;
  font-size: 32px;
  float: left;
  margin: 0 10px;
}

.appFullHeight {
  height: 100vh;
}
