.app {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  max-width: 1200px;
  margin: -100px auto 0;
  padding: 0 100px;
}

.navbar {
  display: flex;
  flex-direction: row;
  position: absolute;
  align-items: center;
  justify-content: flex-start;
  left: 0;
  top: 0;
  width: 100%;
  height: 46px;
  background: #363E52;
  img {
    margin: 0 10px;
    width: 20px;
    height: 20px;
  }
  p {
    color: #FFF;
  }
}

.questionLists {
  width: 70%;
}

.questionListsHeader {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 20px;
  h4 {
    margin-right: auto;
  }
}

.questionListsData {
  display: flex;
  justify-content: center;
  text-align: center;
}

.btnPrimary {
  background: #1890FF;
  box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.043);
  border: 1px solid #1890FF;
  border-radius: 2px;
  color: #FFF;
  height: 32px;
  width: fit-content;
  padding: 0 20px;
}

.btnSecondary {
  background: #FFF;
  box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.043);
  border: 1px solid #D9D9D9;
  border-radius: 2px;
  color: #000;
  height: 32px;
  width: fit-content;
  padding: 0 20px;
}

.btnTextBlue {
  background: none;
  border: none;
  text-decoration: underline;
  color: blue;
}

.btnTextRed {
  background: none;
  border: none;
  text-decoration: underline;
  color: red;
}

.categories {
  display: flex;
  flex-direction: row;
}

.categoryBox {
  margin: 2px;
  border: 3px solid rgba(var(--color), 1);
  border-radius: 4px;
  background-color: rgba(var(--color), 0.15);
  p {
    margin: 5px;
    color: rgba(var(--color), 1);
  }
}

.createQuestionListPopup {
  box-shadow: 0px 3px 6px -4px rgba(0, 0, 0, 0.12), 0px 6px 16px rgba(0, 0, 0, 0.08), 0px 9px 28px 8px rgba(0, 0, 0, 0.05);
  border-radius: 2px;
  background: #FFF;
  position: absolute;
  width: 572px;
  height: 188px;
  left: calc(50% - (572 / 2));
  top: calc(50% - (188 / 2));
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  button, h5, p, input {
    margin-left: 5px;
    margin-right: 5px;
  }
  >:nth-child(1) {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    >:nth-child(1) {
      margin-right: auto;
    }
    >:nth-child(2) {
      margin-right: 15px;
    }
  }
  >:nth-child(2) {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: stretch;
    align-items: center;
    border-bottom: 1px solid gray;
    border-top: 1px solid gray;
  }
  >:nth-child(3) {
    padding: 5px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }
}

.close {
  cursor: pointer;
  position: absolute;
  width: 22px;
  height: 22px;
  opacity: 0.3;
  &:hover {
    opacity: 1;
  }
  &:before, &:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 22px;
    width: 2px;
    background-color: #333;
  }
  &:before {
    transform: rotate(45deg);
  }
  &:after {
    transform: rotate(-45deg);
  }
}

.logo {
  max-width: 100%;
  width: 300px;
}

.boxes {
  display: flex;

  section {
    max-width: 50%;
    padding: 20px;
  }
}

h1,
h2,
p {
  color: #000;
}

a {
  color: #515cbf;
}

button {
  cursor: pointer;
}